# Mango Backend V1.0.0 example environment
DJANGO_SECRET_KEY=replace-with-a-random-secret
DJANGO_DEBUG=true
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost,mangofinance.cc,www.mangofinance.cc,api.mangofinance.cc
DJANGO_CORS_ALLOWED_ORIGINS=https://mangofinance.cc,https://www.mangofinance.cc,https://api.mangofinance.cc

DB_ENGINE=django.db.backends.postgresql
DB_NAME=mango_project_db
DB_USER=postgres
DB_PASSWORD=
DB_HOST=127.0.0.1
DB_PORT=5432

EMAIL_HOST=smtp.163.com
EMAIL_PORT=465
EMAIL_USE_SSL=true
EMAIL_USE_TLS=false
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=
DEFAULT_FROM_EMAIL=Mango_Finance <no-reply@example.com>
LOGO_DEV_IMAGE_BASE_URL=https://img.logo.dev
LOGO_DEV_PUBLISHABLE_KEY=
LOGO_DOWNLOAD_DIR=

MARKET_PULL_TASK_INTERVAL_MINUTES=5
MARKET_PULL_INTERVAL_MINUTES=10
MARKET_FX_PULL_INTERVAL_MINUTES=240
MARKET_CRYPTO_PULL_INTERVAL_MINUTES=10
SYNC_SYMBOLS_PROXY=http://127.0.0.1:7897


SNAPSHOT_AGG_H4_CRON_MINUTE=0
SNAPSHOT_AGG_D1_CRON_HOUR=0
SNAPSHOT_AGG_D1_CRON_MINUTE=0
SNAPSHOT_AGG_MON1_CRON_DAY=1
SNAPSHOT_AGG_MON1_CRON_HOUR=0
SNAPSHOT_AGG_MON1_CRON_MINUTE=0
SNAPSHOT_CLEANUP_CRON_HOUR=1
SNAPSHOT_CLEANUP_CRON_MINUTE=45
CELERY_BEAT_MAX_LOOP_INTERVAL=5

CELERY_BROKER_URL=pyamqp://mango:change-me@127.0.0.1:5672//
