__pycache__/
*.py[cod]
*.pyo
*.pyd

.env
docs/

.idea/
.vscode/

*.log
*.sqlite3
.DS_Store


resource/tmp_stress_logs/
resource/tmp_celery_state/
resource/**/celerybeat-schedule*
resource/logo_downloads/
resource/test