POSTGRES_DB=mango_project_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=change-me
POSTGRES_PORT=5432
POSTGRES_VOLUME_NAME=mango_postgres_data

REDIS_PORT=6379
REDIS_VOLUME_NAME=mango_redis_data

RABBITMQ_DEFAULT_USER=mango
RABBITMQ_DEFAULT_PASS=change-me
RABBITMQ_PORT=5672
RABBITMQ_MANAGEMENT_PORT=15672
RABBITMQ_VOLUME_NAME=mango_rabbitmq_data
