<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>cc.mango.backend.celery.worker</string>
    <key>ProgramArguments</key>
    <array>
      <string>/bin/bash</string>
      <string>/Users/wry/Services/Mango_project/Mango_project_backed_end/scripts/start_celery_worker.sh</string>
    </array>
    <key>WorkingDirectory</key>
    <string>/Users/wry/Services/Mango_project/Mango_project_backed_end</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>UserName</key>
    <string>wry</string>
    <key>StandardOutPath</key>
    <string>/Users/wry/Services/Mango_project/Mango_project_backed_end/tmp_celery_logs/celery_worker.out.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/wry/Services/Mango_project/Mango_project_backed_end/tmp_celery_logs/celery_worker.err.log</string>
  </dict>
</plist>
